           * {
               font-family: Arial, Helvetica, sans-serif;
           }
           
           body {
               margin: 0;
               padding: 0;
           }
           
           .topo {
               height: 50px;
               background-color: #353535;
           }
           
           .topointerior {
               width: 100%;
               margin: auto;
               color: #fff;
           }
           
           .logomarca {
               float: left;
               font-size: 24px;
               text-transform: capitalize;
               line-height: 50px;
           }
           
           .menu {
               float: right;
               text-transform: capitalize;
           }
           
           .menu ul,
           menu li {
               margin: 0;
               padding: 0;
               list-style: none;
           }
           
           .menu li {
               float: left;
               padding-left: 10px;
               padding-right: 10px;
               font-size: 17px;
               line-height: 50px;
               cursor: pointer;
           }
           
           .menu li:hover {
               background-color: #3480c1;
           }
           
           .banner {
               height: 300px;
               background-color: #347aba;
           }
           
           .bannerinterior {
               width: 1000px;
               margin: auto;
           }
           
           .frase1 {
               font-size: 48px;
               color: #fff;
               text-transform: capitalize;
               margin-top: 60px;
           }
           
           .frase2 {
               font-size: 20px;
               color: #fff;
               margin-top: 20px;
           }
           
           .bannerdireita {
               float: right;
           }
           
           .bannerdireita img {
               margin-right: 55px;
           }
           
           .banneresquerda {
               float: left;
           }
           
           .botao {
               background-color: #FFFF00;
               text-align: center;
               width: 300px;
               height: 50px;
               border-radius: 5px;
               color: #4F4F4F;
               line-height: 50px;
               font-size: 18px;
               margin-top: 20px;
               cursor: pointer;
           }
           
           .conteudointerno {
               width: 1000px;
               margin: auto;
           }
           
           .outrosprodutos {
               font-size: 20px;
               height: 90px;
               text-align: center;
               margin-left: 400px;
               line-height: 90px;
           }
           
           .fotos {
               background-color: #fcfcfc;
           }
           
           .fotos img {
               padding: 10px
           }
           
           .rodape {
               height: 50px;
               background-color: #353535;
               top: 50px;
               color: #fff;
               line-height: 50px;
               font-size: 20px;
               text-align: center;
               text-transform: capitalize;
           }